@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    padding: 0.5rem 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 4.8vw;
    font-size: 1.05rem;
    color: #747272;
}
nav ul li{
    cursor: pointer;
}
nav i{
    font-size: 1.7rem;
    cursor: pointer;
}
header section{
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header  section  div:nth-child(1){
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: 50%;
}
header  section  div:nth-child(1) p{
    color: #3f3f3f;
    font-size: 1.02rem;
}
header  section  div:nth-child(1) h1{
    font-size: 3rem;
    color: #131313;
}
header  section span{
    color: #747272;
    font-size: 1.1rem;
}
header  section  div:nth-child(1) button{
    padding: 13px 30px;
    background-color: #0E7A81;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
header section img{
    width: 70%;
}
header section div:nth-child(3){
    display: flex;
    flex-direction: column;
    width: 50%;
}
header section div:nth-child(3) h2{
    margin-bottom: 16px;
    font-size: 1.7rem;
    color: black;
}
#petCategory{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic-btn-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 5px 20px;
    border: 2px solid #9c9a9ab9;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    height: 60px;
}
.active-category{
    background-color: #a2d4d8;
    border: 2px solid #0E7A81;
    height: 60px;
    border-radius: 30px;
    transition: all 120ms ease;
}
.sort-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
.sort-section p{
    color: #3f3f3f;
    font-size: 2rem;
    font-weight: 600;
}
.sort-section button{
    background-color: #0E7A81;
    color: white;
    font-size: 1.1rem;
    padding: 15px 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.pet-container{
    grid-column: 1/4;
}
.liked-img-section{
    border: 1px solid rgb(214, 213, 213);
    padding: 10px;
    border-radius: 8px;
    grid-column: 4/-1;
}